# Ordinator
ORDINATOR_API_ADDRESS=127.0.0.1:8090
ORDINATOR_MAIN_ENDPOINT=/ordinator_endpoint
ORDINATOR_CORES=2-8
ORDINATOR_PATH=/home/$USER/ordinator

# Debugging
RUST_BACKTRACE=0

# Logging & Tracing
PROFILING_FILE=./benches/tracing.folded
RUST_LOG=info
PROFILING_LEVEL=error
TRACING_LEVEL=info
ORDINATOR_LOG_DIR=./logging/logs/

#=================================================================================#
# THESE SETTINGS ARE NOT ENVIRONMENT VARIABLES, DO NOT CHANGE THEM. They are mock
# values for future database integration.

#DATA
DATABASE_PATH=./temp_scheduling_environment_database/scheduling_environment.json
EXCEL_DUMP_DIRECTORY=./xlsx_dumps/
